* {
	font-family: $custom-font-family;
}

body{
	background-color: #f3f3f3;
}

.main-wrapper{
	padding: 0 0 0 0;
	width: 100%;
	margin: 0 auto;
    position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	width: 100%;
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 57px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
}

@keyframes slideUp{
	to {
		bottom: 0;
	}
}

@keyframes fadeIn{
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .9s ease-out 1 forwards;
}

.slideUp {
	bottom: -40px;
	animation: fadeIn 2s forwards;
}

.is-paused {
	animation-play-state: paused;
}

.container{
	position: relative;
	max-width: 900px;
	padding: 0;
}
.notify{
	position: absolute;
	z-index: 0;
	bottom: -5px;
	left: 0;
	width: 250px;
	height: 40px;

}
.notifyMsg{
	border-radius: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	span{
		line-height: 40px;
	}

}

h3 {
	font-size: 17px;
	color: #000;
	font-weight: bold;
}
.wrap{
	margin: 50px auto 30px auto;
}
.tableWrap{
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	.emptyMsg{
		width: 100%;
		background-color: #dee2e6;
		border-radius: 5px;
		position: absolute;
		z-index: 0;
		p{
			line-height: 5px;
			color: #4e555b;
			text-align: center;
		}
	}
	.checkedTooltip{
		transition: all 0.5s ease 0s;
		top: 0; /* start out at position 0 */
		position: absolute;
		width: 180px;
		left: -210px;
		background-color: #6c757d;
		border-radius: 5px;
		color: #fff;
		padding: 10px 5px;

		.checkedCount{
			margin-right: 7px;
			font-weight: bold;
		}

		svg {
			margin-left: 7px;
		}

		a{
			display: block;
			color: #FFF;
			text-decoration: underline;
			margin-top: 5px;
		}
	}

	.carListTable {
		position: relative;
		z-index: 2;
		margin-bottom: 20px;
		border-bottom: 1px solid #dee2e6;
		thead th {
			background-color: #6e7681;
			color: #FFF;
			border-top: none;
		}
		.btn{
			font-size: 12px;
			padding: 0 5px;

		}
	}

	#add{
		margin-top: 40px;
	}

}
.fix{
	min-height: 60px;
}
.modalWrap{
	position: relative;
	width: 500px;
	margin: 20px auto;
	padding: 3px;

	.modalTitle{
		h3{
			margin-bottom: 20px;
			text-align: center;
		}
	}

	label{
		font-size: 12px;
		margin-bottom: 10px;
		color: #6e7681;
		span {
			color: #f26060;
		}
	}
}

.hidden {
	display: none;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1200px) {
	.main-wrapper {
		padding: 0 15px;
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}



